---
version: 2
interactions:
    - id: 0
      request:
        host: api.upcloud.com
        headers:
            Authorization:
                - Bearer ucat_REDACTED
            Content-Type:
                - application/json
        url: https://api.upcloud.com/1.3/storage/template
        method: GET
      response:
        body: |
            {
               "storages" : {
                  "storage" : [
                     {
                        "access" : "public",
                        "encrypted" : "no",
                        "labels" : [],
                        "license" : 0,
                        "size" : 10,
                        "state" : "online",
                        "template_type" : "cloud-init",
                        "title" : "Fedora 43",
                        "type" : "template",
                        "uuid" : "00000000-0000-4000-8000-000000000001"
                     },
                     {
                        "access" : "public",
                        "encrypted" : "no",
                        "labels" : [],
                        "license" : 0,
                        "size" : 10,
                        "state" : "online",
                        "template_type" : "cloud-init",
                        "title" : "Ubuntu Server 26.04 LTS (Resolute Raccoon)",
                        "type[...]
